/********************
Componente menu-principal
********************/
.menu-principal {    
}

.menu-principal > .lista {
    display: block;
    margin: 0 2rem;
    padding: 0;
}

.menu-principal > .lista > .item {
    font-size: 16px;
    margin-right: 8px;
    display: inline;
    color: white;
}

.menu-principal > .lista > .item a {
    color: white;
    text-decoration: none;
}

.form-pesquisa {
    margin-left: auto;
}

@media (max-width: 768px) {
    .menu-principal > .lista {
        margin: 0;
    }
    .menu-principal > .lista > .item {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 6px;
    }
}