/********************
Arquivo de estilos base do site
  - Importação de folha de estilo de normalização (normalize.css)
  - Importação de componentes do site
  - Definição dos elementos estruturantes do site
********************/
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css";
@import "menu-principal.css";
@import "form-pesquisa.css";
@import "destaque-artigo.css";
@import "box-rodape.css";
@import "utilities.css";

html {
  font-family: 'Muli', Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.cabecalho {
  width: 100%;
  padding: 16px 0;
  margin-top: -70px;
  background: darkcyan;
  position: fixed;
}

.cabecalho .nav-items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.hero {
  height: 300px;
  background-color: crimson;
  background-image: url('../img/parque-municipal-bh-7.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .title {
  width: 100%;
  margin-top: 250px;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo {
    height: 35px;
    width: auto;
    object-fit: contain;
}

.conteudo {
  margin-top: 70px;
    display: block;
}

.imagem-artigo {
  width: 100%;
}

.imagem-artigo .imagem {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.tabela {
  border-collapse: collapse;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.tabela thead {
  border-bottom: 2px solid #ccc;
}

.tabela td {
  border-bottom: 1px solid #ccc;
}

.tabela td:not(:last-child),
.tabela th:not(:last-child) {
  border-right: 1px solid #ccc;
}

.tabela th,
.tabela td {
  padding: 12px 16px;
}

.tabela.atividades td {
  width: 50%;
}

.rodape {

}

.copyright {

}

a {
  text-decoration: none;
  color: darkcyan;
}

a:hover {
  color: #015252;
}

input[type=text] {
  border: none;
  padding: 8px 12px;
  border-radius: 0.25em;
  background-color: white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.btn {
  border: none;
  padding: 8px 12px;
  border-radius: 0.25em;
  color: #444;
  background-color: #cae6df;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn:hover {
  background-color: #bad3cd;
}

.btn:active {
  background-color: #a5bdb7;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; 
}

@media (max-width: 768px) {
  .cabecalho .nav-items {
    flex-flow: column wrap;
    justify-content: center;
  }
}